.cache
.history
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/.target
/bin
/out
/RUNNING_PID
/test
dist
logs
project/project
project/target
target
tmp
*.swp
activator
activator-launch-1.3.0.jar
activator.bat
